<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="~/css/Style.css" type="text/css" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <title>Расчет Шпангоута</title>
</head>
<body>
        <header>
            <h2><u>Расчет сечения шпангоута с присоединенной обшивкой</u></h2>
        </header>
        <div id="container">
            @RenderBody()
        </div>
        <footer>
            <h4>ПАО "Корпорация "Иркут"</h4>
        </footer>
</body>
</html>
